{% extends 'common.html' %}
{% load static %}

{% block title %}register{% endblock %}
{% block content %}
 <!-- Page Header Start -->
 <div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Account registration</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Signup</p>
        </div>
    </div>
</div>
<!-- Page Header End -->
    <div class="container">
        <h2 class="text-center mb-4">Registration Form</h2>
        <form style="width: 70%; margin: auto;" method="POST" action="">
            {% csrf_token %}
            <div class="mb-3">
                <label for="UserName" class="form-label">UserName</label>
                {{ form.username }}   
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                {{ form.email }}
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                {{ form.password1 }} 
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password Comfirmation</label>
                {{ form.password2 }}
            </div>
           
            <button type="submit" class="btn btn-lg btn-block btn-primary mb-3">Register</button>
            <p class="text-center">Already having acount?<a href="{% url 'shopify:signin'%}">Login here</a></p>
        </form>
    </div>
    
    <script>
        let form_username = document.getElementById('id_username');
        let form_email = document.getElementById('id_email');
        let form_password = document.getElementById('id_password1');
        let form_confirm_password = document.getElementById('id_password2');

        form_username.placeholder = 'Username';
        form_email.placeholder = 'Email';
        form_password.placeholder = 'Password';
        form_confirm_password.placeholder = 'Confirm password';

        let form_fields = [form_username, form_email, form_password, form_confirm_password];

        for (let field of form_fields) {
            field.classList.add('form-control');
        }

    </script>
{% endblock %}


