{% extends 'common.html' %}
{% load static %}

{% block title %}login{% endblock %}
{% block content %}
 <!-- Page Header Start -->
 <div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Login</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Login</p>
        </div>
    </div>
</div>
<!-- Page Header End -->

 <div class="form">
    <div class="container">
        <h2 class="text-center mb-4">Login Form</h2>
        <form style="width: 70%; margin: auto;">
            <div class="mb-3">
                <label for="firstName" class="form-label">Username</label>
                <input type="text" class="form-control" id="Username" name="username" required>
            </div>
        
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-lg btn-block btn-primary mb-3">Login</button>
            <p class="text-center">Dont have account?<a href="{% url 'shopify:register'%}">Register here</a></p>
        </form>
    </div>
    
 </div>
{% endblock %}


